.imgLogin{
    background-image:url("/public/Img/fondo_inicio_sesion.jpg");
    height: 870px;
    width: 1700px;
    
}
.fondo{
    color: aqua;
    background-image:url("/public/Img/inicio.jpeg");
    background-position: 100%;
    height: 350px;
    
}
.ventanas{
    width: 420px;
    padding-left: 10px;
    padding-right: 10px;
}
